<% provide :title, t(".admin") %>

<h1 class="py-3"><%= t ".dashboard" %></h1>
<div class="row">
  <div class="col-6">
    <h3><%= t(".last_month") %></h3>
    <%= pie_chart Request.get_month(Date.current.month - 1).group(:status).count,
                  colors: %w[#28a745 #ffc107 #dc3545] %>
  </div>
  <div class="col-6">
    <h3><%= t(".this_month") %></h3>
    <%= pie_chart Request.get_month(Date.current.month).group(:status).count,
                  colors: %w[#dc3545 #28a745 #ffc107] %>
  </div>
  <div class="col-6">
    <h3><%= t(".overall") %></h3>
    <%= pie_chart Request.group(:status).count,
                  colors: %w[#dc3545 #28a745 #ffc107] %>
  </div>
</div>
