<% provide :title, t("requests.index.borrowed_book") %>

<h1>
  <%= t "requests.index.borrowed_book" %>
</h1>
<%= search_form_for @q, url: requests_url do |f| %>
  <div class="body_search">
    <div class="row">
      <div class="col-10">
        <%= f.label t("books.search_form.book_name") %>
        <%= f.search_field :book_name_cont, class: "form-control" %>
      </div>
      <div class="col-3">
        <%= f.submit t("requests.index.search") , class: "btn btn-outline-primary button-search" %>
      </div>
    </div>
  </div>
<%end%>
<div>
  <%= link_to t("requests.index.all_books"), user_requests_path,
              class:"btn btn-primary m-0" %>
</div>
<%= paginate @requests %>

<ul class="requests">
  <%= render @requests %>
</ul>

<%= paginate @requests %>
